Ethereum-nodejs/node_modules

Ethereum-nodejs/.git
Ethereum-nodejs/.vscode
Ethereum-nodejs/.history

Beacon-server/.git
Beacon-server/.vscode

Beacon-server/node_modules

AngularClient/node_modules
AngularClient/dist
AngularClient/.history

