<div class="jumbotron text-center popupcontainer" >
<div class="row  padding10">
	<div class="col-sm-12">
	<p class="float-left popupHeading marginl10">EDIT ENTITY</p>
	</div>		
</div>
<div class="row padding10">
	<div class="col-sm-6">
	<input type="text" class="popupinput" ng-model="value" placeholder="Value"></input>
	</div>	
	<div class="col-sm-6">
	<input type="text" class="popupinput" ng-model="quantity" placeholder="Quantity"></input>
	</div>		
</div>
<div class="row  padding10">
	<div class="col-sm-8">
	</div>
	<div class="col-sm-4">
	<button ng-click="cancelbtnClicked()" class="buttonlink float-right">Cancel <span><img src="/SVGs/arrow_white.svg"></span></button>
	<button ng-click="editbtnClicked()" class="btn btn-primary buttonlarge float-right marginr10">Done</button>
	</div>		
</div>
</div>