  <div class="main">
    <div class="header">
      <app-header>
      </app-header>
    </div>
    <div class="router">
      <router-outlet>
      </router-outlet>
    </div>
  </div>

  <!-- <div fxFlexFill fxLayout="column">
    <header>header</header>
    <div id="main" fxLayout="row" fxLayout.xs="column" fxFlex>
      <nav fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="2"> nav </nav>
      <article fxFlex="3 1 60%" fxFlexOrder fxFlexOrder.xs="1"></article>
      <aside fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3"> aside </aside>
    </div>
    <footer>My footer</footer>
  </div> -->

  <!-- <div fxFlexFill fxLayout="column">
    <header>
      <app-header>
      </app-header>
    </header>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div> -->
