<div class="preloader" [hidden]="!waiting"></div>
<div class="container">
  <div class="login-form">
    <div>
      <input type="text" [(ngModel)]="loginCredentials.username" placeholder="Username" name='username'
        #username='ngModel'>
    </div>
    <div>
      <input type="password" [(ngModel)]="loginCredentials.password" placeholder="Password" name="password"
        #password='ngModel'>
    </div>
    <div class="btn-right">
      <button (click)="login()" class="btn btn-primary buttonlarge"
        [disabled]='!loginCredentials.username || !loginCredentials.password'>Login</button>
    </div>
    <div class="btn-right">
      <button routerLink='/signup' class="buttonlink">Sign Up
        <span>
          <img src="assets/SVGs/arrow_dark.svg">
        </span>
      </button>
    </div>
  </div>
</div>
