.entitytable {
  position: relative;
  height: 150px !important;
  padding: inherit;
  /* top: -22px; */
}

.maincontainer {
  background-color: #040d14;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: 20%;
  margin-right: 25px;
}

.left-container-label{
  margin-bottom: 20px;
}

.table-container{
  /* width: 55%; */
  align-self: center;
  width: 75%;
  overflow-y: auto;
  max-height: 250px;
  scrollbar-color: #0b1f21 transparent;
}

.entities-container{
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  width: 75%;
}

.button-right {
  margin-left: auto;
}

td {
  width: 150px !important;
  font-size: 12px;
  font-weight: normal;
}

.entity-row {
  /* text-align: center !important; */
}

.entity-quantity {
  padding-left: 100px !important;
}

.trackId {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.transTo {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#transactTable td p {
  margin-left: 6%;
}

td select {
  width: inherit;
}

.green_color {
  color: green;
  font-weight: bold;
}

.red_color {
  color: red;
  font-weight: bold;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  display: block;
}

.mainTable td {
  border-bottom: 1px solid #878585;
}

.padding_left {
  /* padding-left: 7px !important; */
}

.padding_left_1 {
  /* padding-left: 12px !important; */
}

.padding_left_2 {
  padding-left: 10px !important;
}

.padding_left_3 {
  padding-left: 15px !important;
}

.zero_padding {
  padding-left: 0px !important;
}
