<div class="preloader" [hidden]="!waiting"></div>
<div class="container">
  <div class="signup-form">
    <div>
      <input type="text" [(ngModel)]="signup.name" placeholder="Full Name" name="name" #name='ngModel'>
    </div>
    <div>
      <input type="text" [(ngModel)]="signup.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        placeholder="Email" name="email" #email='ngModel'>
    </div>
    <div>
      <input type="text" [(ngModel)]="signup.username" placeholder="Username" name="username" #username='ngModel'>
    </div>
    <div>
      <input type="password" minlength="8" [(ngModel)]="signup.password" placeholder="Password" name="password"
        #password='ngModel'>
    </div>
    <div>
      <select [(ngModel)]="categoryType" name="categoryType" (change)='getSelectedCategory(categoryType)'>
        <option value="undefined" disabled selected>Select a category</option>
        <option *ngFor="let category of categoryTypes" [ngValue]="category.id">{{category.type}}</option>
      </select>
    </div>
    <div class="btn-right">
      <button (click)="signUp()" class="btn btn-primary buttonlarge" type="submit"
        [disabled]="!signup.name || !signup.username || !signup.email || !signup.type">Sign Up</button>
    </div>
    <div class="btn-right">
      <button routerLink='/login' class="buttonlink">Login
        <span>
          <img src="assets/SVGs/arrow_dark.svg">
        </span>
      </button>
    </div>
  </div>
</div>
<!-- <div class="jumbotron text-center maincontainer">
  <div>
    <input [(ngModel)]="signup.name" placeholder="Name" />
    <input [(ngModel)]="signup.email" placeholder="Email" />
    <input [(ngModel)]="signup.username" placeholder="Username" />
    <input [(ngModel)]="signup.password" placeholder="Password" />
    <input [(ngModel)]="signup.type" placeholder="Type" />
  </div>
  <div>
    <button (click)="signupcheck()">Signup</button>
    <a routerLink='/login'>
      <button>Login</button>
    </a>
  </div>
</div> -->
