.container {
  display: flex;
  /* background-color: #fff !important; */
  /* align-self: center; */
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #040d14;
  padding: 250px 100px;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.btn-right {
  margin-left: auto;
}
